{
  "useTabs": true,
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "babel",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true,
        "quoteProps": "as-needed"
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "jsxBracketSameLine": false,
        "jsxSingleQuote": true
      }
    }
  ]
}
